span {
  font-weight: bold;
}

#photo {
  float:left;
  margin-right: 20px;
  margin-left: 15%;
  margin-top: 12%;
}

.greeting {
  margin-bottom: 2%;
  margin-top: 3%;
  padding-top: 15%;
  padding-left: 3%;
  background-color: green;
  height: 500px;
  margin-top: 0;
  color: white;
}

ol {
  padding-left: 10px;
}

ul {
  padding: 5%;
}

li {
  padding-left: 10px;
}

.col-md-3 {
  outline: 3px solid white;
  padding: 15px;
  height: 200px;
  background-color: #edf7b7;
  border-radius: 25px;
}

.row h3 {
  font-family: courier;
}

.container {
  margin-bottom:
}
